{% extends 'miomioBundle:Default:index.html.twig' %}

{% block title %}
{% trans %}Modificar proveedor{% endtrans %}
{% endblock %}

{% block body %}

<div class="notificaciones">
<div id="titulo">{% trans %}Modificar proveedor{% endtrans %}:</div>

{% if app.session.hasFlash('errorproveedor') %}
    <div class="notificacionerror">
        <span>{{ app.session.flash('errorproveedor') }}</span>
    </div>
{% endif %}
</div>

<form  class="formulario" id="modificarproveedor" action="{{ path('proveedor_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
</form>

<form  id="eliminarproveedor" action="{{ path('proveedor_delete', { 'id': entity.id }) }}" method="post">
     {{ form_widget(delete_form) }}
</form>
	<div class="botonescrud">
    <div class="contenedorcrud">
    {% if entity.getPedidos().count() == 0 %}
      {% if entity.getProductos().count() > 0 %}
          <div  title="Los productos asociados se quedarán sin proveedor" class="botoneliminar" id="beliminarproveedor">{% trans %}Eliminar{% endtrans %}</div>
      {% else %}
          <div class="botoneliminar" id="beliminarproveedor">{% trans %}Eliminar{% endtrans %}</div>
      {% endif %}
      {% else %}
      <div class="botondesactivado botoneliminar" title="{% trans %}No se puede eliminar existen pedidos{% endtrans %}." id="beliminarproveedor">{% trans %}Eliminar{% endtrans %}</div>
      {% endif %}
      <div class="botoneditar" id="bmodificarproveedor">{% trans %}Modificar{% endtrans %}</div>
      <div><a class="botonvolver" href="{{ path('proveedor') }}">{% trans %}Volver{% endtrans %}</a></div>
     </div>
{% endblock %}
