{% extends 'miomioBundle:Default:index.html.twig' %}

{% block title %}
{% trans %}Listar proveedores{% endtrans %}
{% endblock %}

{% block body %}

<div id="titulo">{% trans %}Seleccione el proveedor para realizar el pedido{% endtrans %}:</div>

<table cellpadding="0" cellspacing="0" border="0" class="display" id="tablalistaproveedorespedido">
  <thead>
    <tr>
            <th class="th">{% trans %}Nombre{% endtrans %}</th>
            <th>{% trans %}Dirección{% endtrans %}</th>
            <th>{% trans %}Teléfono{% endtrans %}</th>
            <th>{% trans %}Localidad{% endtrans %}</th>
            <th>{% trans %}Provincia{% endtrans %}</th>
            <th>{% trans %}Email{% endtrans %}</th>
            <th>{% trans %}Productos{% endtrans %}</th>
            <th>{% trans %}Reservado{% endtrans %}</th>
   	        <th>{% trans %}Acciones{% endtrans %}</th>
    </tr>
  </thead>
  
  <tbody>
      {% for proveedor in proveedores %}

    <tr>
            <td>{{ proveedor.nombre |capitalize }}</td>
            <td>{{ proveedor.direccion |capitalize }}</td>
            <td>{{ proveedor.telefono }}</td>
            <td>{{ proveedor.localidad |capitalize  }}</td>
            <td>{{ proveedor.provincia |capitalize }}</td>
            <td>{{ proveedor.email }}</td>
            <td>{{ proveedor.getProductos().count() }}</td>
            {% set contador = 0 %}
            {% for productos in proveedor.getProductos() %}
                {% if productos.reservado > 0 %}
                    {% set contador = contador + 1 %}
                {% endif %}
            {% endfor %}
            <td>{{ contador }}</td>
            {% if proveedor.getProductos().count() != 0 %}
            <td>
                <a class="boton" href="{{ path('nuevo_pedido', { 'id': proveedor.id }) }}">{% trans %}Seleccionar{% endtrans %}</a>
                <a id="{{proveedor.id}}" class="boton mostrarproductos1">{% trans %}Productos{% endtrans %}</a>
                {% if contador > 0 %}
                <a id="{{proveedor.id}}" class="boton mostrarproductos2">{% trans %}Reservados{% endtrans %}</a>
                {% else %}
                <a id="{{proveedor.id}}" title="{% trans %}No existe ningún producto reservado{% endtrans %}" class="botondesactivado mostrarproductos2">{% trans %}Reservados{% endtrans %}</a>
                {% endif %}
            </td>
            {% else %}
            <td>
                <a class="botondesactivado" title="{% trans %}El proveedor no suministra ningún producto{% endtrans %}" href="{{ path('nuevo_pedido', { 'id': proveedor.id }) }}">{% trans %}Seleccionar{% endtrans %}</a>
                <a id="{{proveedor.id}}" title="{% trans %}El proveedor no suministra ningún producto{% endtrans %}" class="botondesactivado mostrarproductos1">{% trans %}Productos{% endtrans %}</a>
                 {% if contador > 0 %}
                <a id="{{proveedor.id}}" class="boton mostrarproductos2">{% trans %}Reservados{% endtrans %}</a>
                {% else %}
                <a id="{{proveedor.id}}" title="{% trans %}No existe nigún producto reservado{% endtrans %}" class="botondesactivado mostrarproductos2">{% trans %}Reservados{% endtrans %}</a>
                {% endif %}
            </td>
            {% endif %}
		</tr>
  {% endfor %}
 </tbody>
 
 <tfoot>
		 <tr>
            <th>{% trans %}Nombre{% endtrans %}</th>
            <th>{% trans %}Dirección{% endtrans %}</th>
            <th>{% trans %}Teléfono{% endtrans %}</th>
            <th>{% trans %}Localidad{% endtrans %}</th>
            <th>{% trans %}Provincia{% endtrans %}</th>
            <th>{% trans %}Email{% endtrans %}</th>
			<th>{% trans %}Productos{% endtrans %}</th>
            <th>{% trans %}Reservado{% endtrans %}</th>
   	 		<th>{% trans %}Acciones{% endtrans %}</th>
    </tr>
	</tfoot>
	
 </table>

 <div id="detalles1" title="{% trans %}Detalle{% endtrans %}">
   <div class="divproductos">
  <p><span class="id ui-state-highlight ui-corner-all"></span></p>
 <table cellpadding="0" cellspacing="0" border="0" class="display tablamostrarproductos">
 <thead>
    <tr>
      <th class="th">{% trans %}Código{% endtrans %}</th>
      <th>{% trans %}Descripción{% endtrans %}</th>
      <th>{% trans %}Iva{% endtrans %}</th>
      <th>{% trans %}Precio compra{% endtrans %}</th>
      <th>{% trans %}Precio venta{% endtrans %}</th>
      <th>{% trans %}Stock{% endtrans %}</th>
      <th>{% trans %}Apartado{% endtrans %}</th>
      <th>{% trans %}Reservado{% endtrans %}</th>
    </tr>
  </thead>
  
  <tbody>
 </tbody>

 </table>
  
  </div>

  <div class="divproductosreservados">
  <p><span class="id ui-state-highlight ui-corner-all"></span></p>
 <table cellpadding="0" cellspacing="0" border="0" class="display tablamostrarproductosreservados">
 <thead>
    <tr>
      <th class="th">{% trans %}Código{% endtrans %}</th>
       <th>{% trans %}Cliente{% endtrans %}</th>
        <th>{% trans %}Clienteid{% endtrans %}</th>
       <th>{% trans %}Reserva{% endtrans %}</th>
      <th>{% trans %}Descripción{% endtrans %}</th>
      <th>{% trans %}Iva{% endtrans %}</th>
      <th>{% trans %}Precio compra{% endtrans %}</th>
      <th>{% trans %}Precio venta{% endtrans %}</th>
      <th>{% trans %}Stock{% endtrans %}</th>
      <th>{% trans %}Apartado{% endtrans %}</th>
      <th>{% trans %}Reservado{% endtrans %}</th>
    </tr>
  </thead>
  
  <tbody>
 </tbody>

 </table>
  
  </div>
</div>

{% endblock %}