<pdf> 
    <page>
         <img src="{{ pdf_image('miomioBundle:saludvision.jpg') }}" float="left"/>
        {% if reserva.apartado == 'no' %}
        <h1 float="right" text-decoration="underline">{%trans%}Reserva Número{%endtrans%}: {{reserva.id}}</h1>
        {% else %}
        <h1 float="right" text-decoration="underline">{%trans%}Apartado Número{%endtrans%}: {{reserva.id}}</h1>
        {% endif %}
         <h1 font-size="8pt"><p>Calle Miguel Martínez de Pinillos 1 </p>11008 Cádiz Tlf: 956284614</h1>
        <p><h1 float="right">{%trans%}Fecha{%endtrans%}: {{ reserva.fechaoper | date("d/m/Y H:i:s", "Europe/Paris") }} </h1></p>
        <table text-align="left" margin-bottom="30%">
          <tr>
            <td padding="3%"> {%trans%}Cliente{%endtrans%}: <span font-style="bold"> {{cliente.Nombre| capitalize}} {{cliente.Apellido1| capitalize}} {{cliente.Apellido2| capitalize}}</span></td>
            <td padding="3%"> Dni: <span font-style="bold"> {{cliente.Dni}}</span></td>
          </tr>
          <tr>
            <td padding="3%"> {% trans %}Población{% endtrans %}: <span font-style="bold"> {{cliente.Localidad| capitalize}}</span></td>
            <td padding="3%"> {%trans%}Domicilio{%endtrans%}: <span font-style="bold"> {{cliente.Direccion| capitalize}}</span></td>
          </tr>
        </table>

        <table height="200px" text-align="center">
          <tr padding="3%" margin-bottom="10%" border.radius="5%" >
            <td padding="3%" color="blue" border.type="none"> {%trans%}Cantidad{%endtrans%}</td>
            <td padding="3%" color="blue" border.type="none"> {%trans%}Código{%endtrans%}</td>
            <td padding="3%" color="blue" border.type="none"> {%trans%}Descripción{%endtrans%}</td>
            <td padding="3%" color="blue" border.type="none"> {%trans%}Iva{%endtrans%}</td>
            <td padding="3%" color="blue" border.type="none"> {%trans%}Precio{%endtrans%} </td>
            <td padding="3%" color="blue" border.type="none"> {%trans%}PrecioIva{%endtrans%} </td>
            <td padding="3%" color="blue" border.type="none"> {%trans%}Importe{%endtrans%} </td>
            <td padding="3%" color="blue" border.type="none"> {%trans%}ImporteIva{%endtrans%} </td>
          </tr>
            {% set suma = 0 %}
              {% for linea in lineas %}
              <tr>
                   <td padding="3%" background.color="PowderBlue" border.type="bottom">{{linea.cantidad}}</td>
                   <td padding="3%" border.type="bottom">{{linea.producto.id}}</td>
                   <td width="150%" border.type="bottom">{{linea.producto.descripcion | capitalize}}</td>
                   <td padding="3%" border.type="bottom">{{linea.iva}} %</td>
                   <td padding="3%" background.color="pink" border.type="bottom"> {{"%.2f" | format(linea.precio - linea.precio * linea.iva / 100 )}}</td>
                   <td padding="3%" background.color="PowderBlue" border.type="bottom">{{linea.precio}} </td>
                   {% set suma = suma + (linea.precio - linea.precio * linea.producto.iva / 100 ) * linea.cantidad %}
                   <td padding="3%" background.color="pink" border.type="bottom">{{"%.2f" | format((linea.precio - linea.precio * linea.iva / 100 ) * linea.cantidad )}}</td>
                   <td padding="3%" background.color="PowderBlue" border.type="bottom">{{linea.precio * linea.cantidad}} </td>
               </tr>
                {% endfor %}
              <tr>
                   <td border.type="none"></td>
                   <td border.type="none"></td>
                   <td border.type="none"></td>
                   <td border.type="none"></td>
                   <td border.type="none"></td>
                   <td border.type="none"></td>
                   <td padding="3%" width="80%">Total Iva:</td>
                   <td padding="3%" width="80%">{{reserva.total}} €</td>
              </tr>
        </table>
        <p border.type="bottom">{%trans%}Adelanto{%endtrans%}: {{reserva.adelanto}} €. {%trans%}Quedan por pagar{%endtrans%}: {{reserva.total - reserva.adelanto}} €</p>
        <table text-align="center" margin-top="30%">
          <tr>
            <td padding="3%" background.color="Lavender"> {%trans%}Importe inicial{%endtrans%} €</td>
            <td padding="3%" background.color="Lavender"> {%trans%}Base imponible{%endtrans%} €</td>
            <td padding="3%" background.color="Lavender"> Iva €</td>
            <td padding="3%" background.color="Lavender"> Total €</td>
            <td padding="3%" background.color="Lavender"> {%trans%}Pagado{%endtrans%} €</td>
            <td padding="3%" background.color="Lavender"> {%trans%}Devuelto{%endtrans%} €</td>
          </tr>
          {% if reserva.pago == 'efectivo' %}
          <tr>
            <td padding="3%"> {{"%.2f" | format(suma)}} </td>
            <td padding="3%"> {{"%.2f" | format(suma)}} </td>
            <td padding="3%"> {{reserva.total - "%.2f" | format(suma) }} </td>
            <td padding="3%"><span font-style="bold"> {{reserva.total}}</span></td>
            <td padding="3%"><span font-style="bold"> {{reserva.totalpago}}</span></td>
            <td padding="3%"><span font-style="bold"> {{"%.2f" | format(reserva.totalpago - reserva.adelanto)}}</span></td>
          </tr>
          </table>
          <p float="right"> {%trans%}Operación realizada{%endtrans%}:  <span font-style="bold"> {%trans%}Efectivo{%endtrans%}</span></p>
          <br />
          {% else %}
          <tr>
            <td padding="3%"> {{"%.2f" | format(suma)}} </td>
            <td padding="3%"> {{"%.2f" | format(suma)}} </td>
            <td padding="3%"> {{reserva.total - "%.2f" | format(suma) }} </td>
            <td padding="3%"><span font-style="bold"> {{reserva.total}}</span></td>
            <td padding="3%"><span font-style="bold"> {{reserva.totalpago}}</span></td>
            <td padding="3%"><span font-style="bold"> 0</span></td>
          </tr>
          </table>
          <p float="right"> {%trans%}Operación realizada{%endtrans%}:  <span font-style="bold"> {%trans%}Tarjeta{%endtrans%}</span></p>
        <br />
            {% endif %}

        <p float="right"> {%trans%}Documento generado por{%endtrans%}: <span color="blue">{{ app.user.nombre | capitalize}} {{ app.user.apellido1| capitalize }}</span></p>
        <br />
         {% if reserva.apartado == 'no' %}
        <p float="right"> {%trans%}Reserva realizada por{%endtrans%}: <span color="blue">{{empleado.Nombre| capitalize}} {{empleado.Apellido1| capitalize}}</span></p>
        <br />
        {% else %}
        <p float="right"> {%trans%}Apartado realizado por{%endtrans%}: <span color="blue">{{empleado.Nombre| capitalize}} {{empleado.Apellido1| capitalize}}</span></p>
        <br />
        {% endif %}

        <p margin-top="150%" float="right"> {%trans%}Firmado{%endtrans%}:_________________________________</p>
    </page>
</pdf>