{% extends 'miomioBundle:Default:index.html.twig' %}

{% block title %}
{% trans %}Crear informe sin cita{% endtrans %}
{% endblock %}

{% block body %}

<h3>{% trans %}Seleccione el cliente para realizar el informe{% endtrans %}</h3>

<table cellpadding="0" cellspacing="0" border="0" class="display" id="clientesinforme">
  <thead>
    <tr>
     <th>{% trans %}Dni{% endtrans %}</th>
   	 <th>{% trans %}Nombre{% endtrans %}</th>
   	 <th>{% trans %}Apellido1{% endtrans %}</th>
   	 <th>{% trans %}Apellido2{% endtrans %}</th>
   	 <th>{% trans %}Direcci贸n{% endtrans %}</th>
   	 <th>{% trans %}Localidad{% endtrans %}</th>
   	 <th>{% trans %}M贸vil{% endtrans %}</th>
   	 <th>{% trans %}Acciones{% endtrans %}</th>

    </tr>
  </thead>
  
  <tbody>
      {% for cliente in clientes %}

    <tr>
            <td>{{ cliente.dni }}</td>
            <td><a href="{{ path('usuario_show', { 'id': cliente.id }) }}">{{ cliente.nombre |capitalize }}</a></td>
            <td>{{ cliente.apellido1 |capitalize }}</td>
            <td>{{ cliente.apellido2 |capitalize }}</td>
            <td>{{ cliente.direccion |capitalize }}</td>
            <td>{{ cliente.localidad |capitalize }}</td>
            <td>{{ cliente.movil }}</td>
      		  <td> <a class="generarinforme boton" href="{{ path('informe_new', { 'id': 0,'id1':cliente.id }) }}"> {% trans %}Seleccionar{% endtrans %}</a></td>
          </td>
 			
		</tr>
  {% endfor %}
 </tbody>
 
 <tfoot>
		 <tr>
     <th>{% trans %}Dni{% endtrans %}</th>
   	 <th>{% trans %}Nombre{% endtrans %}</th>
   	 <th>{% trans %}Apellido1{% endtrans %}</th>
   	 <th>{% trans %}Apellido2{% endtrans %}</th>
   	 <th>{% trans %}Direcci贸n{% endtrans %}</th>
   	 <th>{% trans %}Localidad{% endtrans %}</th>
   	 <th>{% trans %}M贸vil{% endtrans %}</th>
   	 <th>{% trans %}Acciones{% endtrans %}</th>
    </tr>
	</tfoot>
	
 </table>

{% endblock %}