{% extends 'miomioBundle:Default:index.html.twig' %}

{% block title %}
{% trans %}Nueva reserva{% endtrans %} {{user.nombre}} {{user.apellido1}} {{user.apellido2}}
{% endblock %}

{% block productos %}

<script type="text/javascript" language="javascript">
$(document).ready(function () {
    
    var stocks = [];
    $.each(tabla3.fnGetData(), function(i, row) { stocks.push(row[3]);});
    var max = Math.max.apply(null, stocks);
    var min = Math.min.apply(null, stocks);

        $("#sliderreserva").slider({
        range: true,
        min: min,
        max: max,
        values: [ min, max ],
        slide: function( event, ui ) {
            $( "#amountreserva" ).val(ui.values[ 0 ] + " - " + ui.values[ 1 ] + " Uni.");
        },
        change: function( event, ui ) {
            $('#tabla3_range_from_3').val(ui.values[0]);
            $('#tabla3_range_to_3').val(ui.values[1]);
            $('#tabla3_range_from_3').keyup();
            $('#tabla3_range_to_3').keyup();
        }
    })
        $( "#amountreserva" ).val($("#sliderreserva").slider( "values", 0 ) + " - " + $("#sliderreserva").slider( "values", 1 )+ " Uni." );

    var precios = [];
    $.each(tabla3.fnGetData(), function(i, row) { precios.push(row[7]);});
    max1 = Math.max.apply(null, precios);
    min1 = Math.min.apply(null, precios);
        $("#sliderreserva1").slider({
        range: true,
        min: min1,
        max: max1,
        values: [ min1, max1],
        slide: function( event, ui ) {
            $( "#amountreserva1" ).val(ui.values[ 0 ] + " - " + ui.values[ 1 ] + " €.");
        },
        change: function( event, ui ) {
            $('#tabla3_range_from_7').val(ui.values[0]);
            $('#tabla3_range_to_7').val(ui.values[1]);
            $('#tabla3_range_from_7').keyup();
            $('#tabla3_range_to_7').keyup();
        }
    })
        $( "#amountreserva1" ).val($("#sliderreserva1").slider( "values", 0 ) + " - " + $("#sliderreserva1").slider( "values", 1 )+ " €." );

    $('.restablecer').live('click', function () {            
       $("#sliderreserva" ).slider( "option", "values", [ min, max ] );
       $("#sliderreserva1" ).slider( "option", "values", [ min1, max1 ] );
       $( "#amountreserva" ).val($("#sliderreserva").slider( "values", 0 ) + " - " + $("#sliderreserva").slider( "values", 1 )+ " Uni." );
       $( "#amountreserva1" ).val($("#sliderreserva1").slider( "values", 0 ) + " - " + $("#sliderreserva1").slider( "values", 1 )+ " €." );
                })
});
</script>
{% endblock %}


{% block body %}

<h3 class="h3busquedalado">{% trans %}Nueva reserva{% endtrans %}: {{user.nombre|capitalize}} {{user.apellido1|capitalize}} {{user.apellido2|capitalize}}<br/>{% trans %} Listar productos {% endtrans %}:</h3>

<form class="busqueda">
<fieldset>

<div class="sliders">
    <div id="sliderreserva"></div>
    <label for="amountreserva">{% trans %}Stock{% endtrans %}:</label>
    <input type="text" id="amountreserva" style="border: 0; color: #f6931f; font-weight: bold;" />
    <div id="sliderreserva1"></div>
    <label for="amountreserva1">{% trans %}Precio{% endtrans %}:</label>
    <input type="text" id="amountreserva1" style="border: 0; color: #f6931f; font-weight: bold;" />
 </div>
 <div class="restablecer boton">{% trans %}Restaurar{% endtrans %}</div>
<div class="botonesbuscar"> 
    <div class="mostrarproductofamilia"></div>
    <div class="mostrarproductoproveedor"></div>
</div>
 </fieldset>
</form>
 <p class="numeros1"></p>
 <p class="numeros"></p>

<table cellpadding="0" cellspacing="0" border="0" class="display" id="tabla3">
  <thead>
    <tr>
            <th class="th">{% trans %}Código{% endtrans %}</th>
            <th>{% trans %}Descripción{% endtrans %}</th>
            <th>{% trans %}Stock{% endtrans %}</th>
            <th>{% trans %}Stockoculto{% endtrans %}</th>
            <th>{% trans %}Reservado{% endtrans %}</th>
            <th>{% trans %}Apartado{% endtrans %}</th>
            <th>{% trans %}Precio venta{% endtrans %}</th>
            <th>{% trans %}Precioventaoculto{% endtrans %}</th>
            <th>{% trans %}Iva{% endtrans %}</th>
            <th>{% trans %}Familia{% endtrans %}</th>
            <th>{% trans %}Proveedor{% endtrans %}</th>
            <th>{% trans %}Acciones{% endtrans %}</th>

    </tr>
  </thead>
  
  <tbody>
      {% for producto in productos %}
    <tr>
            <td>{{ producto.id }}</td>
            <td>{{ producto.descripcion }}</td>
            <td>{{ producto.stock }} {% trans %}unidad/es{% endtrans %}</td>
            <td>{{ producto.stock }}</td>
            <td>{{ producto.reservado }} {% trans %}unidad/es{% endtrans %}</td>
            <td>{{ producto.apartado }} {% trans %}unidad/es{% endtrans %}</td>
            <td>{{ producto.pventa }} € </td>
            <td>{{ producto.pventa }} </td>
            <td>{{ producto.iva }} %</td>
             {% if producto.familia %}
            <td> {{ producto.familia}}</td>
            {% else %}
            <td>No tiene</td>
            {% endif %}
            {% if producto.proveedor %}
            <td> {{ producto.proveedor}}</td>
            {% else %}
            <td>No tiene</td>
            {% endif %}
            <td><input type="text" id="ca"/> <div class="botoncarro" id="añadirreserva">{% trans %}Añadir{% endtrans %}</div></td>
    </tr>
  {% endfor %}
 </tbody>

   <tfoot>
    <tr>
            <th>{% trans %}Código{% endtrans %}</th>
            <th>{% trans %}Descripción{% endtrans %}</th>
            <th>{% trans %}Stock{% endtrans %}</th>
            <th>{% trans %}Stockoculto{% endtrans %}</th>
            <th>{% trans %}Reservado{% endtrans %}</th>
            <th>{% trans %}Apartado{% endtrans %}</th>
            <th>{% trans %}Precio venta{% endtrans %}</th>
            <th>{% trans %}Precioventaoculto{% endtrans %}</th>
            <th>{% trans %}Iva{% endtrans %}</th>
            <th>{% trans %}Familia{% endtrans %}</th>
            <th>{% trans %}Proveedor{% endtrans %}</th>
            <th>{% trans %}Acciones{% endtrans %}</th>

    </tr>
  </tfoot>
  
 </table>
<div class="prueba">
<h3>{% trans %}Productos insertados en la reserva{% endtrans %}:</h3>
 
 
 <table cellpadding="0" cellspacing="0" border="0" class="display" id="tabla4">
  <thead>
    <tr>
	   <th>{% trans %}Código{% endtrans %}</th>
   	    <th>{% trans %}Descripción{% endtrans %}</th>
		<th>{% trans %}Cantidad{% endtrans %}</th>
		<th>{% trans %}Precio unidad{% endtrans %}</th>
		<th>{% trans %}Precio total{% endtrans %}</th>
		<th>{% trans %}Modificar{% endtrans %}</th>

    </tr>
  </thead>
  
  <tbody>

 </tbody>
	
 </table>

<div id="divtotalreserva">

<h3> {% trans %}El total de la reserva son{% endtrans %} <span id="totalventa">0</span> €.</h3>

</div>

<div class="ventabotones">
    <div class="contenedor">
    <input id="preguntadocumentoreserva" type='checkbox'/><label for="preguntadocumentoreserva">{% trans %}Generar documento{% endtrans %}</label> 
    <div> <select class="lista" id="formapago">
    <option value="efectivo">{% trans %}Efectivo{% endtrans %}</option>
    <option value="tarjeta">{% trans %}Tarjeta{% endtrans %}</option>
  </select>
  </div>
	<div>{% trans %}Adelanto{% endtrans %}: <input type="text" id="adelanto"/></div>
    <div class="entregado">{% trans %}Entregado{% endtrans %}: <input type="text"/></div>
	<div class="boton" id="guardarreserva">{% trans %}Guardar{% endtrans %}</div>
	</div>
</div>
</div>
    <img id="ajax-loader" src="{{ asset('bundles/miomio/images/ajax-loader.gif') }}"/>
{% endblock %}